@using System.Security.Claims

<h1>Welcome to the Library!</h1>
<hr>
<button class="btn btn-default">@Html.ActionLink("Register", "Register", "Account")</button>
<button class="btn btn-default">@Html.ActionLink("Log in", "Login", "Account")</button>